* {
    box-sizing: border-box;
    background-color: transparent;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    min-width: 500px;
}

.intro, .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro {
    background-image: url("resources/renato-trentin-4eWsCl8Bw7s-unsplash.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.intro p, .intro a, .intro h2, .intro h3 {
    color: #1E1E1E;
}

.summary {
    width: 100%;
}

.main {
    background-image: url("resources/adrien-olichon-9zhsq3o1k60-unsplash.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.main p, .main a, .main h2, .main h3 {
    color: inherit;
}

.main > div, footer {
    color: #DAD2C7;
}

.main > div:hover, footer:hover {
    color: #1E1E1E;
}

.select, .archives, .resources {
    display: none;
}

header, div[role="article"], footer, .zen-resources {
    position: relative;
    width: 100%;
}

header::before, div[role="article"]::before, footer::before, .zen-resources::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("resources/pexels-ben-mack-5326948.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity .4s ease;
    z-index: -1;
}

header:hover::before, div[role="article"]:hover::before, footer:hover::before, .zen-resources:hover::before {
    opacity: 1;
}

.zen-resources {
    height: 100%;
    background-image: url("resources/anchor-lee-kO1G3neRA2o-unsplash.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.zen-resources > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 0;
    margin: 0;
}

.zen-resources li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.zen-resources a {
    color: #1E1E1E;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 120px;
}


h1 {
    font-size: 4em;
    font-weight: bolder;
    font-variant: all-small-caps;
    margin: 0;
    color: #1E1E1E;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
}

p {
    font-size: 1em;
    line-height: 1.4;
}

div[role="article"] {
    padding: 0 5%;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2em 0 70px 0;
}

/*Dropdown menu*/

.previous, .next {
    position: absolute;
    top: calc(2em + 141px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    z-index: 2;
}

.previous {
    left: 0;
    border-right: solid 1px #DAD2C7;
}

.previous a {
    display: flex;
    width: 70px;
    height: 70px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.previous a::before {
    content: "\2192";
    font-size: 3em;
    color: #DAD2C7;
    position: absolute;
    left: 0;
    margin: .3em .2em;
    text-indent: 0;
    rotate: 180deg;
}

.next {
    right: 0;
    border-left: solid 1px #DAD2C7;
}

.next a {
    display: flex;
    width: 70px;
    height: 70px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.next a::before {
    content: "\2192";
    font-size: 3em;
    color: #DAD2C7;
    position: absolute;
    left: 0;
    margin: .1em .2em;
    text-indent: 0;
}

.design-selection {
    position: absolute;
    top: 174px;
    width: 100%;
    height: 70px;
}

.design-selection > nav {
    width: 100%;
    height: 70px;
    z-index: 1;
}

.design-archives ul {
    margin: 0;
    padding: 0;
}

label > span {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    padding : 30px;
    background : #1E1E1E;
    color : #DAD2C7;
    font-size : 1.2em;
    font-variant : small-caps;
    cursor : pointer;
    z-index: 2;
}

.slide {
    display: flex;
    flex-wrap: wrap;
    background: #1E1E1E;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: height .4s ease;
}

#touch {position: absolute; opacity: 0; height: 0;}

#touch:checked + .slide {height: 466px;}

.slide li:not(.viewall) {
    box-sizing: border-box;
    list-style: none;
    padding: 1.5em 10%;
    color: #70685C;
    border-top: solid 1px #DAD2C7;
}

.design-name {
    display: flex;
    font-size: 1.2em;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 0.25em;
    color: #DAD2C7;
}

.designer-name {
    color: #DAD2C7;
}

.viewall {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    font-size: 1.2em;
    font-weight: bold;
    font-variant: small-caps;
    background-color: #DAD2C7;
}

.viewall > a {
    color: #1E1E1E;
}

@media only screen and (max-width: 1306px) {
    .slide li:not(.viewall) {
        width: 50%;
        height: 99px;
    }
}

@media only screen and (min-width: 1307px) {
    .main {
        max-width: 67%;
    }

    .summary {
        text-align: center;
    }

    header {
        padding: 2em 0;
    }

    .preamble {
        text-align: center;
    }

    .design-selection {
        top: 511.54px;
        bottom: 120px;
        left: 67%;
        width: 33%;
    }

    label {
        z-index: -1;
    }

    label span {
        cursor: default;
    }

    .slide {
        height: calc(100vh - 632px);
        transition: unset;
    }

    #touch:checked + .slide {
        height: 1343px;
    }

    .slide li {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: calc(100% / 9);
        justify-content: center;
        align-items: center;
    }

    .design-name {
        Width: 100%;
        font-size: 1.5em;
    }

    .slide a {
        justify-content: center;
        margin-left: .5em;
    }

    .viewall {
        font-size: 1.5em;
    }

    .previous, .next {
        top: 511.54px;
    }

    .previous {
        left: 67%;
    }


}

@media only screen and (min-width: 1767px) {
    .design-selection {
        top: 489.77px;
    }

    .previous, .next {
        top: 489.77px;
    }
}

@media only screen and (min-width: 1314px) {
    .slide {
        height: calc(1390.06px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1390.06px - 70px);
    }
}

@media only screen and (min-width: 1334px) {
    .slide {
        height: calc(1367.67px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1367.67px - 70px);
    }
}

@media only screen and (min-width: 1374px) {
    .slide {
        height: calc(1345.28px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1345.28px - 70px);
    }
}

@media only screen and (min-width: 1395px) {
    .slide {
        height: calc(1322.89px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1322.89px - 70px);
    }
}

@media only screen and (min-width: 1452px) {
    .slide {
        height: calc(1300.50px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1300.50px - 70px);
    }
}

@media only screen and (min-width: 1498px) {
    .slide {
        height: calc(1278.11px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1278.11px - 70px);
    }
}

@media only screen and (min-width: 1564px) {
    .slide {
        height: calc(1255.72px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1255.72px - 70px);
    }
}

@media only screen and (min-width: 1663px) {
    .slide {
        height: calc(1233.33px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1233.33px - 70px);
    }
}

@media only screen and (min-width: 1787px) {
    .slide {
        height: calc(1210.94px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1210.94px - 70px);
    }
}

@media only screen and (min-width: 1844px) {
    .slide {
        height: calc(1188.55px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1188.55px - 70px);
    }
}

@media only screen and (min-width: 1891px) {
    .slide {
        height: calc(1166.16px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1166.16px - 70px);
    }
}

@media only screen and (min-width: 2011px) {
    .slide {
        height: calc(1143.77px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1143.77px - 70px);
    }
}

@media only screen and (min-width: 2071px) {
    .slide {
        height: calc(1121.38px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1121.38px - 70px);
    }
}

@media only screen and (min-width: 2156px) {
    .slide {
        height: calc(1098.98px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1098.98px - 70px);
    }
}

@media only screen and (min-width: 2194px) {
    .slide {
        height: calc(1076.59px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1076.59px - 70px);
    }
}

@media only screen and (min-width: 2215px) {
    .slide {
        height: calc(1054.20px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1054.20px - 70px);
    }
}

@media only screen and (min-width: 2590px) {
    .slide {
        height: calc(1031.81px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1031.81px - 70px);
    }
}

@media only screen and (min-width: 3099px) {
    .slide {
        height: calc(1009.42px - 70px);
    }

    #touch:checked + .slide {
        height: calc(1009.42px - 70px);
    }
}

@media only screen and (min-width: 3260px) {
    .slide {
        height: calc(987.031px - 70px);
    }

    #touch:checked + .slide {
        height: calc(987.031px - 70px);
    }
}

